
<launch>
  <arg name="debug" default="false" />
  <!-- <arg unless="$(arg debug)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix_debug" value="debug_roslaunch"/> -->
    <node pkg="rrt_star_global_planner" type="rrt_star_global" name="rrt_star_global_planner" args="RRTstarPlannerROS" />
    <param name="$(arg)" value="RRTstarPlannerROS" />        
</launch>